<p id="notice"><%= notice %></p>

<%= @students.each do |student| %>
    <tr>
      <td><%= student.name %></td>
    </tr>
  <% end %>

<p>
  <strong>Age:</strong>
  <%# <%= @students.student.age %> %>
</p>

<p>
  <strong>mark1:</strong>
  <%# <%= @students.mark1 %> %>
</p>
<p>
  <strong>mark2:</strong>
  <%# <%= @students.mark2 %> %>
</p>
<p>
  <strong>mark3:</strong>
  <%# <%= @students.mark3 %> %>
</p>

<p>
  <strong>mark4:</strong>
  <%# <%= @students.mark4 %> %>
</p>
<p>
  <strong>mark5:</strong>
  <%# <%= @students.mark5 %> %>
</p>


<p>
  <strong>Grade:</strong>
  <%# <%= @students.grade %> %>
</p>